@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    background-image: url("images/background\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.container {
    max-width: 1028px;
    /*height:  100vh;*/
    margin: 0 auto;
}
/*---header-content---*/
.logo {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
}
.hover-images {
    display: none;
}
.logo:hover .logo-img{
    display: none;
}
.logo:hover .hover-images {
    display: block;
}
.logo-text {
    display: grid;
    align-items: end;
    margin-left: 8px;
    color: #FFFFFF;
}
.logo:hover span{
    color: #F26522;
    opacity: 1;
}
.first-word {
    width: 140px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 35px;
}
.second-word {
    width: 135px;
    height: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px; 
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    
    margin-bottom: 78px;
}
.info-menu {
    display: grid;
    align-content: space-evenly;
    justify-self: end;
    row-gap: 19px;
}
.mailto {
    width: 219px;
    height: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
    margin-top: 45px;
    transition: 0,35s;
}
.mailto:hover {
    color: #F26522;
}
.tel {
    width: 146px;
    height: 21px;
    justify-self: end;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
    transition: 0,35s;
}
.tel:hover {
    color: #F26522;
}
/*---section-portfolio---*/
.sections-portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 61px;
    row-gap: 78px;
    grid-auto-rows:  220px;
    background: url(paula-hayes-StF8yemQ7xM-unsplash.jpg);
    margin-bottom: 90px;
}
.section-portfolio {
    position: relative; 
}
.section-portfolio img {
    border: 2px solid;
    border-image-source: linear-gradient(-45deg, #FFFFFF, #000000);
    border-image-slice: 1;
    box-sizing: border-box;
    width: 300px;
}
.section-portfolio-1 {
    width: 300px;
    height: 220px;
    margin: 0 auto;
}
.section-portfolio-2 {
    width: 300px;
    height: 220px;
    margin: 0 auto;
}
.section-portfolio-3 {
    width: 300px;
    height: 220px;
    margin: 0 auto;
}
.section-portfolio-4 {
    width: 300px;
    height: 220px;
    margin: 0 auto;
}
.section-portfolio-5 {
    width: 300px;
    height: 220px;
    margin: 0 auto;
} 
.section-portfolio-6 {
    width: 300px;
    height: 220px;
    margin: 0 auto;
}
.section-portfolio a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.section-text-1:hover {
    color: #F26522;
}
.view mask {
    position: absolute;
    overflow: hidden;
}
.animated-menu {
   font-family: 'Roboto';
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0px;
   background: #F26522;
   opacity: 0;
   bottom: 0px;
   padding: 7px 14px 12px 16px;
}
.section-portfolio:hover .card-title {
    color: #F26522;
}
.section-portfolio:hover .animated-menu{
    opacity: 1;
}
.animated-menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.animated-menu:hover ul{
    opacity: 1;
    top: 0;
    text-align: center;
    display: block;
}
.info {
    font-size: 10px;
    line-height: 10px;
    width: 22px;
    height: 14px;
    color: #FFFFFF;
    margin-top: 0;
}
.price {
    width: 36px;
    height: 14px;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0 auto;
}
.details {
    font-size: 14px;
    line-height: 14px;
    padding-right: 20px;
} 
.details:after {
    content: '';
    position: absolute;
    bottom: 5px;
    transform: rotate(-45deg);
    right: 0;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #FFFFFF;
    padding: 3px;
    margin: auto 0;
}
/*---footer section---*/
.footer {
    height: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

