@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu&display=swap');
body {
    background: url("Images/Фон\ 1.png");
    background-size: cover;
    font-style: normal;
    margin: 0 auto;
    height: 100vh;
}
.header {
    background: rgba(0, 0, 0, 0.25);
} 
.header-container {
    max-width: 1200px;
    box-sizing: border-box;
    height: 58px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
}
.header-left-menu {
    display: flex;
    align-items: center;
}
.logo {
    color: #FFFFFF;
}
.logo:hover {
    color: #236D47;
}
.logo {
    color: #FFFFFF;
    Font-family: 'Ubuntu';
    Line-height: 22px;
    margin: 0;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
h3 {
    margin: 0;
}
.header-nav-menu {
    display: flex;
    gap: 25px;
    margin-right: 25px;
}
.header-nav-menu svg {
    fill: #FFFFFF;
}
.header-nav-menu svg:hover path {
    fill: #236D47;
}
.separator {
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
}
.logo {
    Font-size: 22px;
    margin-left: 80px;
}
.user-login {
    padding-left: 27px;
    color: #FFFFFF;
    font-family: 'Ubuntu';
    font-weight: 400;
    Font-style: Regular;
    Font-size: 14px;
    Line-height: 14px;
    margin-right: 80px;
}
.hover-user-login {
    color: #FFFFFF;
}
.hover-user-login:hover {
    color: #236D47;
}
ul {
    list-style-type: none;
}
/*---main---*/
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.application-form-container:before {  
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    display: inline-block;
    content: "";
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left: 0;
}
.form-title {
    Font-size: 20px;
    line-height: 20px;
    color: #434343;
    height: 14px;
    font-family: 'Ubuntu';
}
.form-log-in {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    font-family: 'Ubuntu';
}
.form-log-in:hover {
    color: #01813F;
    text-decoration: underline;
}
.form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.fields-confirm {
    margin-bottom: 12px;
}
.second-color {
    color: #3CB878;
}
.second-color:hover {
    color: #01813F;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.word {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.button {
    min-width: 160px;
    box-sizing: border-box;
    padding: 12px 17px 12px 22px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.button-facebook {
    background: #305DB8;
}
.button-facebook:hover {
    background: #022263;
}
a {
    Font-family: Ubuntu;
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 16px;
}
.button-google {
    background: #DF4A32;
    padding-left: 12px;
}
.button-google:hover {
    background: #AB1F09;
}
.button-block {
    display: flex;
    gap: 4px;
    margin-bottom: 39px;
}
.button:after {
    width: 1px;
    height: 28px;
    background-color: #2B0D09;
    display: inline-block;
    content: "";
    opacity: 10%;
    position: absolute;
    left: 48px;
}
.word:before,.word:after {
    height: 1px;
    background: #F2F2F2;
    display: inline-block;
    content: "";
    flex: 1;
}
.application-form-container {
    box-shadow: rgba(0, 0, 0, 0.52);
    background: #FFFFFF;
    box-sizing: border-box;
    max-width: 444px;
    width: 100%;
    padding: 31px 60px 38px;
}
h1 {
    margin: 0;
}
p {
    margin: 0;
}
input {
    width: 100%;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 14px 20px 16px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 15px;
    Font-family: Ubuntu;
    Font-style: Regular;
    Font-size: 14px;
    Line-height: 14px;
    color: #BEBEBE;
} 
input:hover {
    color: #434343;
}
a {
    font-family: Ubuntu;
    font-style: Regular;
    font-size: 14px;
    line-height: 14px;
}
label {
    font-family: Ubuntu;
    font-style: Regular;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}
input[type=checkbox] {
    padding: 0;
    width: auto;
}
input[type=checkbox]:focus, input[type=submit]:focus  {
    box-shadow: none;
}
input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.choose-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    margin-bottom: 20px;
}
.choose-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.markcheck {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
}
.choose-checkbox:hover + .markcheck {
    background-color: #ccc;
}
.choose-checkbox input:checked + .markcheck {
    background-color: #3CB878;
}
.markcheck:after {
    content: "";
    position: absolute;
    display: none;
}
.choose-checkbox input:checked + .markcheck:after {
    display: block;
}
.choose-checkbox .markcheck:after {
    left: 5px;
    top: 1px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.checkbox-checked {
    margin: 0;
}
.button-green input{
    background-color: rgba(60, 184, 120, 0.8);
}
.button-green:hover input{
    background-color: #01813F;
}
.button-green input {
    font-family: Ubuntu;
    font-style: Regular;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0;
}
.button-green {
    Width: 324px;
    Height: 46px;
}



