.wrapper {
    background-color: #171717;
    margin: 0;
    padding: 0;
    padding-bottom: 240px;
}
.container {
    max-width: 1460px;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}
/*header styles*/
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    padding: 0;
}
.logo-content {
    justify-self: start;
    width: 216px;
    height: 33px;
    text-decoration: none;
    padding-top: 46px;
}
.menu {
    display: grid;
    padding: 0;
}
.menu-link {
    text-decoration: none;
    font-size: 18px;
    box-sizing: border-box;
    display: block;
    color: #E4B564;
    font-family: 'Circe';
    justify-self: end;
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    text-align: center;
}
.span {
    width: 144px;
    height: 30px;
    font-family: 'Circe';
    Font-size: 18px;
    align-items: center;
    text-align: center;
}
/*text section*/
.text {
    margin-top: 128px;
    color: #FFFFFF;
    background: #171717;
    font-family: 'Gilam';
    font-style: normal;
}
.text h2 {
    font-size: 50px;
    line-height: 28px;
    height: 28px;
    left: 230px;
    top: 207px;
    width: 599px;
    font-weight: 700;
}
.text p {
    font-size: 20px;
    line-height: 28px;
    margin-top: 41px;
    height: 56px;
    left: 230px;
    top: 276px;
    margin-top: 41px;
    width: 1182px;
} 
/*nav-menu-section*/
.nav-menu {
    display: grid;
    column-gap: 30px;
    row-gap: 27px;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows:  468px;
    grid-auto-flow: 467px;
    list-style-type: none;
    padding: 0;
    margin-top: 41px;
}
.nav-item{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav-item-1 {
    grid-column: 1/3;
    border: 1px solid #634F2C;
    background: #634F2C;
    text-align: center;font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}  
.nav-item-2 {
    grid-column: 3/5;
    border: 1px solid #B4A385;
    background: #B4A385;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}
.nav-item-3 {
    grid-column: 5/7;
    border: 1px solid #E4B564;
    background: #E4B564;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.nav-item-4 {
    grid-column: 1/4;
    border: 1px solid #635A4A;
    background: #635A4A;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.nav-item-5 {
    grid-column: 4/7;
    border: 1px solid #B08C4D;
    background: #B08C4D;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.menu {
    text-decoration: none;
    color: #FFFFFF;
}
/*park-menu-section*/
.name-title {
    margin-top: 161px;
    background: #171717;
}
.name-title h2 {
    color: #FFFFFF;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin: 0 auto;
}
.park-menu {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 26px;
    list-style-type: none;
    padding: 0;
    margin-top: 94px;
    min-height: 903px;
}
.park-item {
    box-sizing: border-box;
}
.park-item-menu {
    text-decoration: none;
    font-family: 'Gilam';
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    color:  #FFFFFF;
}
.park-item-1 {
    grid-row: 1/5;
    border: 1px solid #0E0E0E;
    background: #0E0E0E;
    padding: 44px 52px 219px;
    font-weight: 400;
}
.park-item-2 {
    grid-row: 1/6;
    border: 1px solid #242424;
    background:  #242424;
    padding: 44px 51px 345px;
    font-weight: 400;
}
.park-item-3 {
    grid-row: 1/4;
    border: 1px solid #1F1F1F;
    background: #1F1F1F;
    padding: 44px 48px 186px;
    font-weight: 400;
}
.park-item-4 {
    grid-row: 5/11;
    border: 1px solid #1F1F1F;
    background:  #1F1F1F;
    padding: 56px 52px 479px;
    font-weight: 500;
}
.park-item-5 {
    grid-row: 6/11;
    border: 1px solid #E4B564;
    background: #E4B564;
    padding: 47px 52px 333px;
    font-weight: 500;
    margin-bottom: 30px;
}
.park-item-6 {
    grid-row: 4/8;
    border: 1px solid #0E0E0E;
    background: #0E0E0E;
    padding: 44px 48px 244px;
    font-weight: 500;
}
.park-item-7 {
    grid-row: 8/11;
    border: 1px solid #0A0909;
    background: #0A0909;
    padding: 44px 48px 208px;
    font-weight: 700;
}
.park-item-5 a {
    color: #000000;
}
/*footer-content*/
.footer-content-container {
    display: grid;
    background: #0E0E0E;
    margin: 0 auto;
    margin-top: 190px;
}
 .footer-client-project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 170px;
}
.footer-title {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0;
}
.footer-title-project {
    text-decoration: none;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    box-sizing: border-box;
    display: block;
    justify-self: end;
    border: 1px solid  #E4B564;
    width: 180px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
}
.footer-button {
    margin: 0 auto;
    width: 101px;
    height: 30px;
    font-family: 'Circe';
    font-size: 18px;
    align-items: center;
}
.footer-main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 350px);
    text-align: center;
    margin-top: 61px;
}
.footer-item {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-item-1 {
    grid-area: 1/1/2/2;
    background: #634F2C;
    justify-items: center;
    align-items: center;
}
.footer-item-2 {
    grid-area: 1/2/2/3;
    background: rgba(232, 210, 171, 0.76);
}
.footer-item-3 {
    grid-area: 1/3/2/4;
    background: #E4B564;
    justify-items: center;
    align-items: center;
}
.footer-item-4 {
    grid-area: 2/1/3/2;
    background: #635A4A;
    justify-items: center;
    align-items: center;
}
.footer-item-5 {
    grid-area: 2/2/3/3;
    background: #B08C4D;
    justify-items: center;
    align-items: center;
}
.footer-item-6 {
    grid-area: 2/3/3/4;
    background: #634F2C;
    justify-items: center;
    align-items: center;
}
.footer-item-2 p {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #FFFFFF;
    opacity: 0;
    width: 326px;
    line-height: 28px;
    margin: 0 auto;
    display: none;
}
.footer-item-2:hover p {
    opacity: 1;
    top: 0;
    text-align: center;
    display: block;
}
.footer-item-2:hover img {
    opacity: 1;
    text-align: center;
    top: 0;
}

















     
   



    